/* ==================================================== 
Responsive in mobile friendly -
==================================================== */
@media screen and (max-width: 768px) {
  /* ==================================================== 
  responsive tab title
==================================================== */
  .tab-title {
    padding: 45px 0px;
  }
  .tab-title p {
    font-size: 12.5px;
  }

  /* ==================================================== 
  responsive tab area
==================================================== */
  .tab-area {
    flex-direction: column;
    width: 85%;
    padding: 0px;
  }
  .tab-area img {
    width: 100%;
  }

  /* ==================================================== 
  responsive about section
==================================================== */
  .about {
    width: 100%;
    margin: 30px 0px;
  }
}
